.CardLargeScreen {
  width: 95%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  &_button {
    &-more {
      text-transform: uppercase;
      background-color: var(--primary-light);
      width: 130px;
      color: white;
      border-radius: 8px;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      & > div {
        width: 10px;
      }
    }
    &-more:hover {
      background-color: var(--primary);
      cursor: pointer;
    }
  }
  &_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    &-left {
      width: 50%;
      box-shadow: 6px 6px 9px 0px #80808059;
    }
    &-right {
      width: 45%;
    }
  }
  &_image {
    &-work {
      border-radius: 15px;
      box-shadow: 2px 2px 12px #2a4e4b4f;
    }
  }
  &_header {
    letter-spacing: 1.3pt;
    @include respond("lg") {
      font-size: 25pt;
    }
    @include respond("xl") {
      font-size: 30pt;
    }
  }
  &_description {
    margin-bottom: 1rem;
    @include respond("lg") {
      font-size: 14pt;
    }
    @include respond("xl") {
      font-size: 16pt;
    }
  }
}
