.Footer {
  height: 2.5rem;
  background-color: var(--tertiary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 8pt;
  @include respond("xs") {
    font-size: 10pt;
  }
  @include respond("sm") {
    font-size: 12pt;
  }
  @include respond("lg") {
    font-size: 14pt;
    padding: 2rem;
  }
  @include respond("xl") {
    font-size: 15pt;
  }
}
