.AutoRow {
  &-Lg {
    display: flex;
    flex-direction: column;
    @include respond("xl") {
      flex-direction: row;
    }
  }
}
.boxShadow {
  &-light {
    box-shadow: 3px 3px 6px #00000014;
  }
  &-medium {
    box-shadow: 7px 7px 24px #7474744d;
  }
}
.bg {
  &-primary {
    background-color: var(--primary);
    &-lg {
      @include respond("lg") {
      }
    }
    &-xl {
      @include respond("lg") {
        background-color: var(--primary);
      }
    }
  }
}
.d-none {
  display: none;
}

.h {
  &-100 {
    height: 100% !important;
  }
}
.opacity {
  &-none {
    opacity: 0;
  }
}

.order {
  &-2 {
    order: 2;
  }
}
.overflow {
  &_y {
    &-hidden {
      overflow-y: hidden;
    }
  }
}
.text {
  &-align {
    &-right {
      text-align: right;
    }
  }
}

.zIndex {
  &-1 {
    z-index: 1;
  }
}
