.AboutMe {
  background-color: var(--tertiary);
  padding: 1.5rem;
  color: #ffffff;
  margin: 1rem;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  &::before {
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-color: #ffffff12;
    transform: rotate(-44deg) translate(-0%, -100%) translateZ(0);
    transform-origin: 100% 0;
    transition: transform 1s linear;
  }
  &:hover::before {
    transform: rotate(0deg) translate(-0%, -100%) translateZ(0);
  }
  @include respond("xs") {
    padding: 6%;
    &::before {
      transform: rotate(-32deg) translate(-0%, -100%) translateZ(0);
    }
  }
  @include respond("sm") {
    padding: 4% 8%;
    &::before {
      transform: rotate(-26deg) translate(-0%, -100%) translateZ(0);
    }
  }
  @include respond("md") {
    padding: 5% 10%;
    width: 100%;
    border-radius: 0;
    margin: 0;
    margin-bottom: 2rem;
    &::before {
      transform: rotate(-19deg) translate(-0%, -100%) translateZ(0);
    }
  }
  @include respond("xl") {
    padding: 5% 20%;
    margin-bottom: 0;
    &::before {
      transform: rotate(-15deg) translate(-0%, -100%) translateZ(0);
    }
  }

  &_title {
    text-align: center;
    margin-bottom: 2rem;
    @include respond("xl") {
      margin-bottom: 4rem;
    }
  }
  &_header {
    display: flex;
    margin-bottom: 1rem;
    &-caption {
      margin-top: auto;
    }
    &-image {
      margin-left: auto;
      width: 70px;
      height: auto;
      @include respond("md") {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-12vw, 10vw);
        width: 120px;
      }
      @include respond("md") {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-12vw, 10vw);
        width: 120px;
      }
      @include respond("xl") {
        transform: translate(-12vw, -50%);
        width: 249px;
        top: 50%;
      }
      &-me {
        border-radius: 10rem;
      }
    }
  }
  &_main {
    p:not(:last-child) {
      margin-bottom: 1rem;
    }
    @include respond("sm") {
      font-size: 14pt;
    }
    @include respond("md") {
      width: 80%;
    }
    @include respond("lg") {
      font-size: 16pt;
    }
    @include respond("lg") {
      font-size: 20pt;
    }
  }
}
